<div class="row main-content">
    <div class="col-md-1"></div>
  {{card-list header="JUNGLE" cards=model}}
  {{card-list header="MID" cards=model}}
  {{card-list header="TOP" cards=model}}
  {{card-list header="SUPPORT" cards=model}}
  {{card-list header="ADC" cards=model}}
</div>

{{outlet}}
