<div class="row main-content">

    <div class="col-md-5"></div>
    {{card-list class="col-md-2" header="JUNGLE" cards=model}}
    {{!--{{card-list class="col-md-2" header="MID" cards=model}}
    {{card-list class="col-md-2" header="TOP" cards=model}}
    {{card-list class="col-md-2" header="SUPPORT" cards=model}}
    {{card-list class="col-md-2" header="ADC" cards=model}}--}}
    <div class="col-md-5"></div>
</div>
